.done-container
  %main.done-main
    %section.done-main__single
      %h2.done-main__single__head
        会員登録完了
      .done-main__single__inner
        .inner-content
          %p.inner-content__text
            ありがとうございました
            %br/
            会員登録が完了しました。
          %a.inner-content__btn{href: ""}
            メルカリをはじめる
      %a.done-main__single__footer{href: ""}
        = image_tag "/mercari333.png", class: "footer-content-image"
