.mypage
  %main.mypage-main
    .mypage-main__right
      .my-page_interval
        .my-page-sub_log-out
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "my-page-sub_log-out_btn
