%main.number-box
  %section.number-container
    %h2.number-container__head
      電話番号の確認
    %form.number-container__inner
      .number-box
        .form-group
          %label.cell_phone 携帯番号の番号
          %input.input-default{:placeholder => "電話番号の入力", :type => "tel"}/
        %p.cell-text 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        %button.number-btn{:type => "submit"} SNSを送信する
        %p.btn-text ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
        .form-group__text
          = link_to '',class: "text-note" do
            電話番号の確認が必要な理由
            %i.fas.fa-chevron-right
