<div class="mypage-container">
  <section class="user-details">
    <div class="user-details__image">
      <div class="user-details__image__text">
        <a href="" class="avatar-box">
          <img src="/mercari.icon.png" class="my-avatar">
          <h2 class="users-detail-title">
            太郎
          </h2>
        </a>
        <div class="users_score">
          <span class="users_score__left">評価 100</span>
          <span class="users_score__right">出品数 100</span>
        </div>
      </div>
    </div>
    <div class="user-details__white">
      <div class="user-details__white__ratings">
        <div class="users-ratings">
          <div class="users-ratings__detail">
            <i class="far fa-smile-beam">
            </i>
            <div class="users-ratings__detail__score">
              100
            </div>
          </div>
        </div>
        <div class="users-ratings">
          <div class="users-ratings__detail">
            <i class="far fa-grin">
            </i>
            <div class="users-ratings__detail__score">
              10
            </div>
          </div>
        </div>
        <div class="users-ratings__left">
          <div class="users-ratings__detail">
            <i class="far fa-tired">
            </i>
            <div class="users-ratings__detail__score">
              5
            </div>
          </div>
        </div>
      </div>
      <div class="user-details__white__description">
        <p class="user-description">
          よろしくお願いします。
        </p>
      </div>
    </div>
    <div class="user-details__media">
      <ul class="social-media-box">
        <li class="mypage-media">
          <a href=""><i class="fab fa-facebook-square"></i>
          </a>
        </li>
        <li class="mypage-media">
          <a href=""><i class="fab fa-twitter-square"></i>
          </a>
        </li>
        <li class="mypage-media">
          <a href=""><i class="fab fa-line"></i>
          </a>
        </li>
      </ul>
    </div>
    <section class="user-details__items">
      <h2 class="my-items-head">
        この出品者の商品
      </h2>
      <div class="user-details__items__content">
      </div>
    </section>
  </section>
</div>
