%header.main-header
  .main-header__inner
    .main-header__inner-top
      %h1
        = link_to root_path do
          = image_tag "mercari_logo_horizontal.png", width: 150
      %form.serch-form{action: "https://www.mercari.com/jp/search/"}
        %input.serch-form__input{name:"keyword", placeholder:"何をお探しですか？", type:"serch", value:""}
        %i.fas.fa-search
      //Todo機能実装にうつったら以下gem:ransackと以下のような形式を使用
      -# = search_form_for @search do |f|
      -#   = f.label :title_cont, 'タイトル'
      -#   = f.text_field :title_cont
      -#   %div
      -#     = f.submit '検索する'
    .main-header__inner-menu
      %nav
        %ul.search-menu-list
          %li
            %h2
              =link_to "https://www.mercari.com/jp/brand/", class:"search-menu__list-parent" do
                %i.fa.fa-bars
                %span.search-menu__list-parent-text カテゴリーから探す
          %li
            %h2
              =link_to "https://www.mercari.com/jp/brand/", class:"search-menu__list-parent" do
                %i.fa.fa-tag
                %span ブランドから探す
      -if user_signed_in?
        .main-header__inner-menu--right
          %ul
            %li
              %h2
                =link_to "https://www.mercari.com/jp/mypage/notification/" do
                  %i.fa.fa-bell
                  %span お知らせ
            %li
              %h2
                =link_to "https://www.mercari.com/jp/brand/" do
                  %i.fa.fa-check
                  %span やることリスト
            %li
              %h2
                =link_to users_path do
                  %i.fa.fa-user
                  %span マイページ
      -else
        .main-header__inner-menu--right
          %ul
            %li
              %h2
                =link_to new_user_path do
                  %span.main-header__inner-menu--right__new-user-register-btn 新規会員登録
            %li
              %h2
                =link_to new_user_session_path do
                  %span.main-header__inner-menu--right__new-user-login-btn ログイン
