<div class="pickup-container__items-container">
      <h3 class="category">
        <a href="" class="index"> 新着アイテム</a>
      </h3>
      <div class="items-box-content">
        <div class="items-box-content__box__photo">
          <img src="./111.jpg" class="tops">
        </div>
        <div class="items-box-content__box__body">
          <h3 class="items-name">
            アイテム
          </h3>
          <div class="items-num">
            <div class="items-num__price">
              ¥ 1,200
            </div>
            <div class="items-num__likes">
              <i class="fa fa-heart">
              </i>
              <span class="like">1</span>
            </div>
            <p>(税込)</p>
          </div>
        </div>
      </div>
      <div class="items-box-content">
        <div class="items-box-content__box__photo">
          <img src="./111.jpg" class="tops">
        </div>
        <div class="items-box-content__box__body">
          <h3 class="items-name">
            アイテム
          </h3>
          <div class="items-num">
            <div class="items-num__price">
              ¥ 1,200
            </div>
            <div class="items-num__likes">
              <i class="fa fa-heart">
              </i>
              <span class="like">1</span>
            </div>
            <p>(税込)</p>
          </div>
        </div>
      </div>
      <div class="items-box-content">
        <div class="items-box-content__box__photo">
          <img src="./111.jpg" class="tops">
        </div>
        <div class="items-box-content__box__body">
          <h3 class="items-name">
            アイテム
          </h3>
          <div class="items-num">
            <div class="items-num__price">
              ¥ 1,200
            </div>
            <div class="items-num__likes">
              <i class="fa fa-heart">
              </i>
              <span class="like">1</span>
            </div>
            <p>(税込)</p>
          </div>
        </div>
      </div>
      <div class="items-box-content">
        <div class="items-box-content__box__photo">
          <img src="./111.jpg" class="tops">
        </div>
        <div class="items-box-content__box__body">
          <h3 class="items-name">
            アイテム
          </h3>
          <div class="items-num">
            <div class="items-num__price">
              ¥ 1,200
            </div>
            <div class="items-num__likes">
              <i class="fa fa-heart">
              </i>
              <span class="like">1</span>
            </div>
            <p>(税込)</p>
          </div>
        </div>
      </div>
      <div class="items-all">
        <a href="" class="items-all">全ての商品を見る</a>
      </div>
    </div>
