<div class="container">
  <section class="item-container">
    <h1 class="item-name">
      ポロシャツ
    </h1>
    <div class="item-content">
      <div class="item-photo">
        <div class="owl-carousel">
          <img src="photo.jpg" class="owl-lazy">
        </div>
      </div>
    </div>
  </section>
</div>
