<div class="container">
  <section class="item-container">
    <h1 class="item-name">
      ポロシャツ
    </h1>
    <div class="item-content">
      <div class="item-photo">
        <div class="owl-carousel">
          <img src="photo.jpg" class="owl-lazy">
        </div>
        <div class="owl-dot">
          <img src="photo.jpg" class="sub-photo">
        </div>
        <div class="owl-dot">
          <img src="photo.jpg" class="sub-photo">
        </div>
        <div class="owl-dot">
          <img src="photo.jpg" class="sub-photo">
        </div>
        <div class="owl-dot">
          <img src="photo.jpg" class="sub-photo">
        </div>
        <div class="owl-dot">
          <img src="photo.jpg" class="sub-photo">
        </div>
      </div>
    </div>
    <table class="item-detail">
      <tbody>
        <tr>
          <th>出品者</th>
          <td>
            <a href="" class="div">樋野さん</a>
            <div>
              <div class="item-user-ratings">
                <i class="far fa-smile-beam"></i>
                <span>1</span>
              </div>
              <div class="item-user-ratings">
                <i class="far fa-grin"></i>
                <span>1</span>
              </div>
              <div class="item-user-ratings">
                <i class="far fa-tired"></i>
                <span>1</span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th>カテゴリー</th>
          <td>
            <a href="" class="div">メンズ</a>
          </td>
        </tr>
        <tr>
          <th>ブランド</th>
          <td>
            <a href="" class="div">しまむら</a>
          </td>
        </tr>
        <tr>
          <th>商品のサイズ</th>
          <td>M</td>
        </tr>
        <tr>
          <th>商品の状態</th>
          <td>やや傷や汚れあり</td>
        </tr>
        <tr>
          <th>配送料の負担</th>
          <td>送料込み（出品者負担)</td>
        </tr>
        <tr>
          <th>配送の方法</th>
          <td>未定</td>
        </tr>
        <tr>
          <th>配送元地域</th>
          <td>
            <a href="" class="div">東京都</a>
          </td>
        </tr>
        <tr>
          <th>配送日の目安</th>
          <td>2~3日で発送</td>
        </tr>
      </tbody>
    </table>
    <div class="item-price-box">
      <span class="item-fee">¥ 700</span>
      <span class="item-tax">(税込)</span>
      <span class="item-shipping-fee">送料込み</span>
    </div>
    <a href="" class="item-btn">購入画面に進む</a>
    <div class="item-description">
      <p class="item-description__inner">
        ポロシャツをご覧いただきありがとうございます。
        数回着用しました。

        サイズが４４とかいてあるのでSかMかわかりません。

        着丈約60cm
        身幅約42cm
      </p>
    </div>
    <div class="item-button">
      <div class="item-button__left">
        <button type="button" class="like-button">
          <i class="far fa-heart"></i>
          <span class="favorite">いいね！</span>
          <span class="favorite">0</span>
        </button>
        <a href="" class="item-report">
          <i class="far fa-flag"></i>
          <span class="report">不適切な商品の報告</span>
        </a>
      </div>
      <div class="item-button__right">
        <a href="" class="item-key">
          <i class="fas fa-lock"></i>
          <span class="key">あんしん・あんぜんへの取り組み</span>
        </a>
      </div>
    </div>
  </section>
  <div class="item-detail-message">
    <div class="message-container">
      <div class="message-content">
        <form class="message-form">
          <input type="hidden" class="detail-message">
          <p class="input-p">相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。</p>
          <textarea type="text" class="textarea-default"></textarea>
          <button  type="submit" class="comment-submit">
            <span class="comment">コメントする</span>
          </button>
        </form>
      </div>
    </div>
  </div>
  <ul class="nav-item">
    <li class="nav-item-link-prev">
      <a href="" class="nav-icon">
        <i class="fas fa-chevron-left"></i>
        アウター
      </a>
    </li>
    <li class="nav-item-link-next">
      <a href="" class="nav-icon">
        パンツ
        <i class="fas fa-chevron-right"></i>
      </a>
    </li>
  </ul>
  <div class="item-social-media-box">
    <ul class="social-media-box">
      <li class="media">
        <a href="" class="share-btn">
          <i class="fab fa-facebook-square"></i>
        </a>
      </li>
      <li class="media">
        <a href="" class="share-btn">
          <i class="fab fa-twitter-square"></i>
        </a>
      </li>
      <li class="media">
        <a href="" class="share-btn">
          <i class="fab fa-line"></i>
        </a>
      </li>
      <li class="media">
        <a href="" class="share-btn">
          <i class="fab fa-pinterest-square"></i>
      </li>
    </ul>
  </div>
</div>
