%body
  .single-container
    %header.single-header
      %h1.single-header__logo
        %a.single-header__logo__link{:href => ""}
          %img.link_image{:src => "mercari_logo_horizontal.png"}/
    %main.single-main
      %section.single-main__container
        %h2.single-head 購入内容の確認
        %section.buy-content__buy-item
          .buy-content-inner
            %h3.buy-item-image
              %img.photo-link{:src => "buy.png"}/
            %p.buy-item-name 写真
            %form.buy-form
              %p.buy-price
                ¥ 1,000
                %span.item-tax 送料込み
              %ul.buy-point
                %li.accordion-parent
                  .accordion-toggle
                    ポイントはありません
              %ul.buy-price__table
                %li.buy-price-row
                  .buy-price__cell
                    支払い金額
                  .buy-price__yen
                    %span ¥ 1,000
              %button.buy-button{:type => "submit"} 購入する
        %section.buy-content__user-info
          .buy-content-inner
            %h3.shipping_address 配送先
            %address.buy-user-info-text
              〒000-0000
              %br/
              東京都◯◯区◯◯
              ◯◯1-10-100
              マンション100号室
              %br/
              田中太郎
            %a.buy-user-info-fix{:href => ""}
              %span 変更する
              %i.fas.fa-chevron-right
        %section.buy-content__credit
          .buy-content-inner
            %h3.pay-way お支払い方法
            %p.buy-user-info-text
              ************0000
              %br/
              11/25
            %figure.pay
              %img.credit-image{:src => "jcb.png"}/
            %a.buy-user-info-right{:href => ""}
              %span 変更する
              %i.fas.fa-chevron-right
