<div class="main-container">
  <div class="profile">
    <h2 class="profile__header">
      プロフィール
    </h2>
    <div class="profile__main">
      <img src="mercari.icon.png" class="icon">
      <input type="text" placeholder="例)AYA☆セール中" class="profile-name">
    </div>
    <div class="profile__content">
      <textarea placeholder="例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪" class="profile-introduction"></textarea>
    </div>
    <div class="profile__footer">
    <button type="submit" class="profile-btn">変更する</button>
    </div>
  </div>
</div>
