.bread-crumbs{
  position: relative;
  border-top: 1px solid #eee;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  ul{
    padding: 16px;
    font-size: 0;
    white-space: nowrap;
    height: 20px;
    li{
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      i.fas.fa-chevron-right{
        margin: 0 8px;
        font-size: 9px;
        color: #888;
      }
    & a{
      color: #333;
    }
    }
  }
}
.current{
  font-weight: 600;
}