a{
  text-decoration: none;
}
.footer-container{
  .main-footer{
    background-color: #212121;
    padding: 0 20px 10px 20px;
    color: #fff;
    & a{
      color: #fff;
      font-size: 12px;
      line-height: 1.5em;
      display: block;
      opacity: .7;
      text-decoration: none;
    }
    & ul{
      list-style: none;    
    }
    & li{
      margin: 14px 0 0;
    }
    & h2{
      color: #fff;
      font-size: 16px;
      font-weight: 100;
    }
    & nav{
      width: 1020px;
    }
    .clearfix{
      margin: 0 auto;
      height: 300px;
      .footer-cel{
        width: 20%;
        padding-right: 20px;
        display: block;
        float: left;
        margin-top: 18px;
        &__title{
          color: #fff;
          font-size: 16px;
          font-weight: 100;
        }
        &__list--social a{
          width: 47px;
        }
        &__list--social i{
          background: transparent;
          margin: 16px 18px 0 0;
          display: inline-block;
          font-size: 25px;
          width: 10px;
        }
        &__list--social{
          display: inline-block;
        }
      }
      .footer-cel--width{
        width: 42%;
        margin: 18px 0 0;
        padding-right: 40px;
        float: left;
        &-title{
          color: #fff;
          font-size: 16px;
          font-weight: 100;
        }
        &__inner-left{
          vertical-align: top;
          width: 50%;
          float: left;
          padding-right: 10px;
        }
        &__inner-right{
          vertical-align: top;
          width: 50%;
          float: left;
        }
      }
      .footer-cel--language{
        width: auto;
        margin: 18px 0 0;
        float: left;
        &-title{
          color: #fff;
          font-size: 16px;
          font-weight: 100;
        }
        &__inner{
          vertical-align: top;
          width: 50%;
          float: left;
        }
      }
    }
    .footer-bottom{
      margin: 30px auto 20px;
      width: 1020px;
      font-size: inherit;
      line-height: inherit;
      & img{
        color: white;
      }
      & small{
        font-size: 12px;
      }
      &__logo{
        display: inline-block;
        margin-right: 10px;
      }
      &__copyright{
        width: 745px;
        display: inline-block;
        margin: 8px 0 0;
        text-align: center;
        vertical-align: sub;
      }
    }
  }
}
.sell-btn{
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 160px;
  height: 160px;
  font-size: 22px;
  border-radius: 50%;
  background: #ea352d;
  color: #fff;
  text-align: center;
  &__title{
    font-size: 22px;
    margin: 20px 0 0;
  }
  .fas.fa-camera{
    margin: 0 0;
    font-size: 75px;
  }
}
