html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  background-color: #fff;
  display: block;
  .advertisement {
    height: 400px;
    overflow: hidden;
    &__header {
      height: 100%;
      width: 100%;
      &__image {
        height: 400px;
        width: 100%;
        background-size: cover;
      }
    }
  }
  .pickup-container {
    padding-top: 40px;
    background: #f5f5f5;
    .pickup-head {
      font-size: 28px;
      text-align: center;
      line-height: 1.4;
      font-weight: bold;
    }
    .items-box-container {
      width: 940px;
      margin: 0 auto;
      .text-center {
        font-size: 22px;
        margin: 26px 11px;
        text-align: center;
        font-weight: bold;
        .new-item {
          color: #0099e8;
          text-decoration: none;
        }
      }
      .items-box-container__box {
        width: auto;
        height: 337px;
        margin: 0 auto;
        .items-box {
          margin-left: 20px;
          width: 213px;
          float: left;
          margin-bottom: 10px;
          &__photo {
            width: 213px;
            height: 220px;
            .items-image {
              width: 213px;
              height: 220px;
            }
          }
          &__body {
            padding: 16px;
            height: 85px;
            background-color: #fff;
            &__name {
              overflow: hidden;
              position: relative;
              font-weight: 400;
              height: 3em;
              line-height: 1.5;
              word-break: break-word;
              white-space: normal;
              font-size: 16px;
              color: #333;
            }
            .items-box__num {
              display: flex;
              justify-content: space-between;
              margin-top: 8px;
              align-items: center;
              .items-box-price {
                font-size: 17px;
                font-weight: 600;
                color: #333;
              }
              .items-box-like {
                font-size: 16px;
                font-weight: 400;
                color: #333;
                .far.fa-heart {
                  color: #ccc;
                }
              }
            }
            .items-box-tax {
              font-size: 10px;
              color: #333;
            }
          }
        }
      }
      .view-all-footer {
        padding: 20px 0 30px;
        width: 99.5%;
        text-align: right;
        .items-all {
          color: #0099e8;
          text-decoration: none;
        }
      }
    }
  }
}