html, body {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  color:#333333;
  background-color: rgb(245, 245, 245);
}

.item-container {
  padding: 24px 40px 40px;
  background-color: #fff;
  margin: 40px auto 0;
  width: 700px;
  .item-name {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
    font-weight: bold;
  }
  .item-content {
    margin: 16px 0 0;
    .item-photo {
      float: left;
      min-width: 300px;
      max-width: 300px;
      min-height: 375px;
      background-color: #fafafa;
      .owl-carousel {
        position: relative;
        .owl-lazy {
          width: 300px;
          height: 300px;
        }
      }
    }
  }
}
