html, body {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  color:#333333;
  background-color: rgb(245, 245, 245);
}

.purchase-complete {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}