html, body {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  color:#333333;
  background-color: rgb(245, 245, 245);
}

.user-details {
  margin: 40px auto;
  width: 700px;
  background: #fff;
  &__image {
    background: url("/mypage.header.png");
    background-size: cover;
    padding-top: 50px;
    &__text {
      text-align: center;
      .avatar-box {
        text-decoration: none;
        .my-avatar {
          width: 180px;
          height: 180px;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-size: cover;
        }
        .users-detail-title {
          margin: 8px 0 16px;
          font-size: 18px;
          font-weight: 400;
          color: #333;
          line-height: 1.4;
        }
      }
      .users_score {
        padding-bottom: 30px;
        font-size: 14px;
        font-weight: 600;
        color: #333;
        &__left {
          margin-right: 12px;
        }
        &__right {
          margin-left: 12px;
        }
      }
    }
  }
  &__white {
    background: #fff;
    &__ratings {
      height: 50px;
      padding-top: 14px;
      width: 360px;
      margin: 0 auto;
      font-size: 18px;
      font-weight: 400;
      color: #333;
      .users-ratings {
        padding-right: 30px;
        float: left;
        &__detail {
          width: 100%;
          line-height: 26px;
          .fa-smile-beam {
            font-size: 24px;
            display: inline-block;
            font-weight: 400;
            text-transform: none;
            line-height: 1;
            color: #ef5185;
          }
          .fa-grin {
            font-size: 24px;
            display: inline-block;
            font-weight: 400;
            text-transform: none;
            line-height: 1;
            color: #fba933;
          }
          .fa-tired {
            font-size: 24px;
            display: inline-block;
            font-weight: 400;
            text-transform: none;
            line-height: 1;
            color: #6ab5d8;
          }
          &__score {
            display: inline-block;
            vertical-align: middle;
            width: 60px;margin-left: 14px;
            float: right;
            text-align: center;
          }
        }
      }
    }
    &__description {
      padding: 30px 50px 60px 50px;
      border-top: 2px solid #f5f5f5;
      line-height: 1.5;
      word-break: break-all;
      .user-description {
        font-size: 16px;
        font-weight: 400;
        color: #333;
      }
    }
  }
  &__media {
    margin: 24px auto;
    padding: 32px 0 24px;
    width: 700px;
    background: #fff;
    .social-media-box {
      margin: 16px 0 0;
      text-align: center;
      list-style: none;
      .mypage-media {
        display: inline-block;
        margin: 0 8px 8px 0;
        vertical-align: middle;
        text-align: center;
        a {
          display: block;
          text-decoration: none;
          .fa-facebook-square {
            width: 44px;
            height: 44px;
            border-radius: 4px;
            line-height: 44px;
            font-weight: 400;
            font-size: 26px;
            color: #fff;
            background: #385185;
          }
          .fa-twitter-square {
            width: 44px;
            height: 44px;
            border-radius: 4px;
            line-height: 44px;
            font-weight: 400;
            font-size: 26px;
            color: #fff;
            background: #5d9dc9;
          }
          .fa-line {
            width: 44px;
            height: 44px;
            border-radius: 4px;
            line-height: 44px;
            font-weight: 400;
            color: #fff;
            background: #00c137;
            font-size: 22px;
          }
        }
      }
    }
  }
  &__items {
    overflow: hidden;
    .my-items-head {
      margin: 24px 0 8px;
      font-size: 22px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__content {
      padding: 0;
      width: auto;
      margin: 0 auto;
      .my-item__box {
        margin: 0 6px 20px 6px ;
        float: left;
        display: block;
        width: 220px;
        &__link {
          display: block;
          color: #333;
          .my-item-image {
              width: 220px;
              height: 220px;
              overflow: hidden;
          }
          .my-item-body {
            padding: 16px;
            height: 110px;
            .my-item-name {
              overflow: hidden;
              position: relative;
              font-weight: 400;
              height: 3em;
              line-height: 1.5;
              word-break: break-word;
              white-space: normal;
              font-size: 16px;
              color: #333;
            }
            .my-item-num {
              margin: 8px 0 0;
              justify-content: space-between;
              align-items: center;
              display: flex;
              &__price {
                font-size: 16px;
                font-weight: 600;
                color: #333;
              }
              .font-my {
                font-size: 16px;
                font-weight: 400;
                color: #333;
              }
            }
            .my-item-tax {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
