.card-main__sub-head{
  font-size: 14px;
}
.sets-add__card{
  padding: 24px 0;
  border-bottom: 1px solid #eee;
}
.card-main__sub-head{
  font-size: 14px;
  font-weight: 700;
}
.sets-not-regist{
  display: block;
  margin: 40px 0 0;
  text-align: right;
  a {
    color: #0099e8;
  }

}

#fa-chevron-right{
  color: #0099e8;
}


.fa-chevron-right {
  color: #0099e8;
}

.fa-chevron-right {
  color: #0099e8;
}


